page-my-contact-user {
    .toolbar-title-md {
        text-align: center;
    }
    // .hj-toast {
    //     text-align: center;
    //     .toast-wrapper {
    //       width: 60px !important;
    //       min-width:60px;
    //     }
    //   }
    
    //   .bank .searchbar-input-container {
    //     width: 100%;
    //     .searchbar-input{
    //       width: 100%;
    //       .text-input{
    //         width: 100%;
    //       }
    //     }
    //   }
    //   .bank-from {
    //     ion-avatar,
    //     .label-ios {
    //       margin: 6px 6px !important;
    //     }
        .letter {
          display: flex;
          width: 30px;
          position: fixed;
          right: 0;
          top: 110px;
          z-index: 10010;
          justify-content: center;
          align-items: center;
        }
        .letter-right {
          font-size: 16px;
          display: flex;
          //flex-direction: column;
          //flex-flow:1;
          flex-flow:column nowrap;
          background: #ebebeb;
          color: #488aff;
          border-top-left-radius: 6px;
          align-items: center;
        }
        .letter-right span {
          display: block;
          padding: 2px 3px;
        }
        .letter:after{
          display: block;
          content: '';
          clear: both;
        }
    //     ion-avatar section {
    //       display: flex;
    //       justify-content: center;
    //       align-items: center;
    //       width: pxTorem(70);
    //       height: pxTorem(70);
    //       border-radius: pxTorem(35);
    //       background: #0a9dc7;
    //       color: #FFF;
    //     }
    //     ion-item-divider {
    //       background-color: #eef4f5 !important;
    //       ion-label {
    //         margin: 0 !important;
    //         color: #444444;
    //       }
    //     }
    //   }
    .contact-list{
      border-width: 0px;
      background-color: #fff;
      color: #444;
      position: relative;
      z-index: 2;
      display: block;
      margin: -1px;
      /* padding: 16px 0px; */
      font-size: 16px;
      }
   
      .contact-list div.label{
          padding: 8px 16px;
          background: #F5F5F5;
      }
   
      .contact-list-item{
              border-color: #ddd;
      background-color: #fff;
      color: #444;
      position: relative;
      z-index: 2;
      display: block;
      margin: -1px;
      padding: 16px;
      border-width: 1px;
      border-style: solid none;
      font-size: 16px;
      }
   
      .contact-name{
          
          padding-top: 26px;
          padding-bottom: 0px;
      }
    .citybox-shortcuts {
      position: absolute;
      top: 102px;
      right: 0;
      bottom: 10px;
      width: 30px;
      font-size: 11px;
      display: -webkit-box;
      display: box;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: inherit;
      -moz-flex-direction: vertical;
      -ms-flex-direction: inherit;
      flex-direction: inherit;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    
    .citybox-shortcuts a {
      text-align: center;
      color: #A2A2A2;
      -webkit-box-flex: 1;
      box-flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-justify-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-align-items: center;
      -webkit-align-items: center;
      align-items: center;
    }
}
