<ion-content style="background-color:#F9F9F9;">
  <div class="banner">
    <img src="./assets/imgs/1.jpg" />
  </div>
  <ion-item-group>
      <ion-item-divider style="background-color:#f4f4f4;margin:0px;padding:0px;">
          <ion-grid style="margin:0px;padding:0px;">
            <ion-row>
              <ion-col col-8>
                  <button ion-button clear color="light" style="margin-left:-15px;"><font color="primary">公司新闻</font></button>
              </ion-col>
              <ion-col col-4 style="text-align:right;">
                  <button ion-button clear color="light" style="margin-right:-15px;" (click)="goPage('NewsPage')"><font color="bgcolor_b">More..</font></button>               
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item-divider>
    <ion-item class="ys-item" *ngFor="let item of newslist">
      <ion-grid style="margin:0px;padding:0px;">
        <ion-row>
          <ion-col col-8 style="font-weight:bold;" (click)="showDetail(1,item.NewsId)">
            <font color="{{item.FullHeadColor}}">{{item.FullHead}}</font>
          </ion-col>
          <ion-col col-4 style="text-align:right;">
            {{item.CreateDate|date:'yyyy-MM-dd'}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider style="background-color:#f4f4f4;margin:0px;padding:0 0 0 5px;">
      <ion-grid style="margin:0px;padding:0px;">
          <ion-row>
              <ion-col col-8>
                  <button ion-button clear color="light" style="margin-left:-20px;"><font color="primary">公司活动</font></button>
              </ion-col>
              <ion-col col-4 style="text-align:right;">
                  <button ion-button clear color="light" style="margin-right:-15px;" (click)="goPage('SetActivityPage')"><font color="bgcolor_b">More..</font></button>               
              </ion-col>
            </ion-row>
      </ion-grid>
    </ion-item-divider>
    <ion-item class="ys-item" *ngFor="let item of activitylist">
      <ion-grid style="margin:0px;padding:0px;">
        <ion-row>
          <ion-col col-8 style="font-weight:bold;" (click)="showDetail(3,item.NewsId)">
            <font color="{{item.FullHeadColor}}">{{item.FullHead}}</font>
          </ion-col>
          <ion-col col-4 style="text-align:right;">
            {{item.CreateDate|relativeTime:'zh'}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-item-group>
</ion-content>