
    .toolbar-title-md {
        text-align: center;
    }
    .ys-content{
        background-color:#F9F9F9;
    }
    .ys-title{
        line-height:60px;
        height:45px;
        padding-left:10px;
    }
    .ys-value{
        height:45px;
        padding-left:10px;
        background-color:rgb(255, 255, 255);
    }
    .ys-value input{
        width:100%;
        height:35px;
        border-radius:5px;
        border: 1px dotted #EEE;
    }
    .ys-value ion-select{
        width:100%;
        float:right;
        max-width:100%;
        // height:35px;
        // border-radius:5px;
        // border: 1px dotted #EEE;
    }
    .ys-selecttitle{
        line-height:60px;
        height:45px;
        padding:0px 0px 0px 10px; 
    }
    .ys-selectvalue{
        height:45px;
        padding:0px 0px 0px 10px; 
     
        background-color:rgb(255, 255, 255);
        .ion-select{
            max-width: 100%; 
        }
    }

    .ys-textareavalue{
        height:65px;
        padding-left:10px;
        background-color:rgb(255, 255, 255);
    }
   
