page-journalcontent{
.toolbar-title-md {
    text-align: center;
}
.ys-content{
    background-color:#F9F9F9;
}
.ys-title{
    line-height:40px;
    height:35px;
    padding-left:10px;
}
.ys-value{
    height:45px;
    line-height:40px;
    padding-left:20px;
    background-color:rgb(255, 255, 255);
    border-bottom:1px dotted #eee;
}
}
