<ion-header>
  <ion-navbar color="primary">
    <ion-title>活动详情</ion-title>
    <ion-buttons right>
      <button ion-button (click)="editForm()" *ngIf="edit" style="font-size:24px;width:30px;">
        <ion-icon name="create-outline"></ion-icon>
      </button>
      <button ion-button (click)="deleteForm()" *ngIf="edit" style="font-size:24px;width:30px;">
        <ion-icon name="trash-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="ys-content">
  <ion-grid style="margin:0px;padding:0px;">
    <ion-row>
      <ion-col class="ys-title">
        {{entity.FullHead}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ys-value">
        <span>来源</span>:{{entity.SourceName}}
      </ion-col>
      <ion-col class="ys-value">
        <span>作者</span>:{{entity.AuthorName}}
      </ion-col>
      <ion-col class="ys-value">
        <span>日期</span>:{{entity.CreateDate|date:'yyyy-MM-dd'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <img [src]="entity.Cover" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ys-title" style="height:100%;text-align: left;">
        <div [innerHTML]="entity.NewsContent"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>