<ion-header>

  <ion-navbar>
    <ion-title class="title">新闻</ion-title>
   
  </ion-navbar>
  
</ion-header>


<ion-content >
  
<ion-list>
  <ion-item-sliding *ngFor="let item of list ">
    <ion-item>
      {{item.FullHead}}
    </ion-item>
  
    <ion-item-options side="right">
      <button ion-button color="primary" [navPush]="NewsaddPage" [navParams]='{"id":item.NewsId}'>
        查看明细
      </button>
      <button ion-button color="danger" (click)="presentConfirm(item.NewsId)">
        删除
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<ion-infinite-scroll (ionInfinite)="doRefresh($event)" threshold="10%" immediate-check="false" ng-if="result">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

<ion-fab bottom center [navPush]="NewsaddPage">
  <button ion-fab mini><ion-icon name="add"></ion-icon></button>
</ion-fab>

</ion-content>
