.custom-loading-bg{
    position: absolute;
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    opacity: 0.1;
    z-index:10;
    background-color:black;
}
.custom-loading {
    position: absolute;
    margin-top: 70%;
    margin-left:25%;
    width: 50%;
    height: 100px;
    color: black;
    background-color:white;
    border-radius: 10px 10px;
    z-index: 200;
    line-height: 100px;
    text-align: center;
    font-size:16px;
    overflow:auto;
    border: 8px solid #E8E9F7;
}