page-setting {
    .toolbar-title-md {
        text-align: center;
    }
    .scroll-content {
        overflow: hidden;
    }
    .bg-color {
        background-color: #efeeee;
    }
    .top-list {
        margin-top: 15px;
    }
    .item-small {
        min-height: 1rem;
        border-bottom: 0px solid #c8c7cc;
    }
    .item-icon {
        font-size: 36px;
    }
    input{
        border:0px;
    }
}