page-setting {
    .toolbar-title-md {
        text-align: center;
    }
    .scroll-content {
        overflow: hidden;
    }
    .bg-color {
        background-color: #efeeee;
    }
    .top-list {
        margin-top: 15px;
    }
    .item-small {
        margin-top:1px;
        //border-bottom: 1px solid #c8c7cc;
    }
    .item-icon {
        line-height: 40px;
        font-size: 24px;
    }
    input{
        border:0px;
    }
}