<ion-header>
  <ion-navbar>
    <ion-title>
      我的
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let rowList of getRowListByGridList(3)">
      <ion-col *ngFor="let colItem of rowList">
          <!-- [ngStyle]="{'background-color': colItem.color}" -->
            <button ion-button icon-start class="card" (click)="doOperation()">
              <ion-icon name="{{colItem.icon}}"></ion-icon>
              <h2>{{colItem.name}}</h2>
            </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
